alertmanager:
  config:
    receivers:
      - name: 'slack'
        slack_configs:
          - channel: '#alerts'
            send_resolved: true
            api_url: <webhook>
    route:
      group_by: ['alertname']
      receiver: 'slack'
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 3h